@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #191d34;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #909092;
  margin-bottom: 13px;
  font-family: "Open Sans", sans-serif;
  text-transform: math-auto;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 67px;
}

/* button style */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 54px;
  left: 0px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: white;
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
  left: -26px;
  font-size: 18px;
  line-height: 54px;
  color: #000;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -30px;
}

.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0px;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #a803ae;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-90 {
  margin-bottom: 90px;
}

.boxed-btn {
  background: #fff;
  color: #db35ee;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #ff3500;
  letter-spacing: 3px;
  text-align: center;
  color: #ff3500 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.boxed-btn:hover {
  background: #ff3500;
  color: #fff !important;
  border: 1px solid #ff3500;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}

.boxed-btn3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 17px 55px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-position: 100% 0;
  background-position: 0 0;
  background-color: rgb(179, 73, 205);
  border: 1px solid transparent;
}

.boxed-btn3:hover {
  background-size: 200% 200%;
  color: #ffffff;
  border: 1px solid rgb(151, 45, 250);
  background-color: transparent;
  color: rgb(151, 45, 250);
}

.boxed-btn3:focus {
  outline: none;
}

.boxed-btn4 {
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #aa0ded;
  padding: 17px 50px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.boxed-btn4:hover {
  background: #aa0ded;
  color: #fff;
  border: 1px solid #aa0ded;
}

.boxed-btn4:focus {
  outline: none;
}

.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

.boxed-btn2:focus {
  outline: none;
}


.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.line-button:hover {
  color: #009DFF;
}

.mb-95 {
  padding-bottom: 50px;
}


.section_title h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #191d34;
  font-family: "Poppins", sans-serif;
}

.section_title h3 span {
  font-weight: 300;
}

.section_title p {
  font-size: 16px;
  line-height: 30px;
  color: #909092;
  font-weight: 400;
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #009DFF;
}

.slicknav_menu .slicknav_nav a.active {
  color: #009DFF;
}

.breadcam_bg {
  background-image: url(../img/banner/bradcam.png);
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  padding: 160px 0;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}


.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -36px;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}

.header-area .main-header-area {
  background: #fff;
}

.header-area .main-header-area .logo-img {
  text-align: center;
}


.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

.header-area .main-header-area .Appointment .book_btn a {
  background: #009DFF;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #fff;
  color: #009DFF;
  border: 1px solid #009DFF;
}

.header-area .main-header-area .main-menu {
  text-align: right;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #000000;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 37px 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}

.header-area .main-header-area .main-menu ul li:hover > a {
  color: #e80bef !important;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
}

.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
}

.slider_area {
  position: relative;
  z-index: 3;
}

.slider_area .single_slider {
  height: 725px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.slider_area .single_slider .slider_text {
  position: relative;
  z-index: 6;
}

.slider_area .single_slider .slider_text h3 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-weight: 200;
  margin-bottom: 4px;
  line-height: 85px;
}

.slider_area .single_slider .slider_text h3 span {
  font-weight: 800;
}

.slider_area .single_slider .slider_text p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 32px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 12px;
  width: 500px;
}

.slider_area .dog_thumb {
  position: absolute;
  bottom: 0;
  right: 15%;
  bottom: 60px;
  z-index: 1;
}

.slider_area .dog_thumb img {
  max-width: 100%;
  width: 550px;
}

.service_area {
  padding-top: 180px;
  padding-bottom: 106px;
}

.service_area .single_service {
  padding: 70px 25px 65px 25px;
  border: 1px solid #a202a2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.service_area .single_service .service_thumb {
  height: 140px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

.service_area .single_service .service_thumb .service_icon img {
  width: 200px;
  height: 184px;
}

.service_area .single_service .service_content h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 43px;
  margin-bottom: 22px;
}

.service_area .single_service .service_content p {
  margin-bottom: 0;
}

.service_area .single_service:hover {
  -webkit-box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  -moz-box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border: 1px solid transparent;
}

.team_area {
  padding-bottom: 200px;
  padding-top: 125px;
}

.team_area .single_team {
  margin-bottom: 30px;
}

.team_area .single_team .thumb img {
  width: 100%;
}

.team_area .single_team .member_name {
  position: relative;
  -webkit-transform: translateY(-35px);
  -moz-transform: translateY(-35px);
  -ms-transform: translateY(-35px);
  transform: translateY(-35px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team_area .single_team .member_name .mamber_inner {
  border-radius: 5px;
  display: inline-block;
  padding: 16px 40px 11px 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
}

.team_area .single_team .member_name .mamber_inner h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #222222;
  margin-bottom: 0;
}

.team_area .single_team .member_name .mamber_inner p {
  font-size: 14px;
  color: #7a7b7c;
  font-weight: 400;
  margin-bottom: 0;
}

.team_area .single_team:hover .member_name {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}

.testmonial_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 125px 0  115px 0;
  overflow: hidden;
  background: #fff;
}

.testmonial_area .single_testmonial {
  -webkit-box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  -moz-box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 60px 80px 85px 80px;
  background-color: rgb(248, 240, 255);
}

.testmonial_area .single_testmonial .test_thumb {
  margin-right: 25px;
}

.testmonial_area .single_testmonial .test_thumb img {
  max-width: 130px;
}

.testmonial_area .single_testmonial .test_content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #383737;
  margin-bottom: 0;
}

.testmonial_area .single_testmonial .test_content span {
  display: block;
  color: #979797;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1;
  margin-top: 3px;
}

.testmonial_area .single_testmonial .test_content p {
  font-size: 18px;
  color: #66666f;
  margin-bottom: 0;
  line-height: 35px;
}

.testmonial_area .textmonial_active .owl-item {
  opacity: .6;
}

.testmonial_area .textmonial_active .owl-item.active {
  opacity: 1;
}

.testmonial_area .owl-carousel .owl-item img {
  display: inline-block;
  width: 130px;
}

.testmonial_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 40px;
}

.testmonial_area .owl-carousel .owl-nav div {
  left: 0;
  background: #000;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddc4c4;
  background: #fff;
  font-size: 14px;
  color: #f39b80 !important;
  left: auto;
  bottom: 30px;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  top: auto;
  right: 78px;
  font-size: 20px;
  border: none;
  color: #D9D9D9;
  background: transparent;
}

.testmonial_area .owl-carousel .owl-nav div {
  color: #d9d9d9 !important;
}

.testmonial_area .owl-carousel .owl-nav div:hover {
  color: #383737  !important;
  background: transparent;
}

.testmonial_area .owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: -1px;
}

.testmonial_area .owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: -1px;
}

.testmonial_area .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: visible;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #fbe7ff;
  position: relative;
  z-index: 0;
}

.footer .footer_top {
  padding-top: 130px;
  padding-bottom: 110px;
}

.footer .footer_top .footer_widget .address_text {
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
}

.footer .footer_top .footer_widget .address_line li {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  color: #7a7a7a;
}

.footer .footer_top .footer_widget .links {
  position: relative;
  top: 0;
}

.footer .footer_top .footer_widget .links.double_links li {
  width: 50%;
  float: left;
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 25px;
  font-weight: 500;
  color: #2e2e2e;
  text-transform: capitalize;
  margin-bottom: 36px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.footer .footer_top .footer_widget p {
  color: #AAB1B7;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a:hover {
  color: #cc2dc2;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 26px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #eb592d;
  border-bottom: 1px solid #eb592d;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #eb592d;
  border-bottom: 1px solid #eb592d;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 40px;
}

.footer .footer_top .footer_widget ul li a {
  color: #7a7a7a;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #eb2dd5;
}

.pet_care_area {
  padding-top: 73px;
  padding-bottom: 24px;
}

.pet_care_area .pet_thumb img {
  width: 100%;
  padding-top: 50px;
}

.pet_care_area .pet_info .section_title p {
  color: #66666f;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 54px;
  margin-top: 30px;
}

.adapt_area {
  padding-bottom: 90px;
  padding-top: 125px;
}

.adapt_area .adapt_help .section_title p {
  color: #66666f;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 54px;
  margin-top: 30px;
}

.adapt_area .adapt_about .single_adapt {
  margin-bottom: 40px;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border-radius: 14px;
  background: #fff;
  padding: 40px 40px 33px 40px;
}

.adapt_area .adapt_about .single_adapt .adapt_content h3 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #383737;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 22px;
  line-height: 1;
}

.adapt_area .adapt_about .single_adapt .adapt_content p {
  font-size: 20px;
  color: #808080;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-bottom: 0;
}

.anipat_bg_1 {
  background-image: url(../img/banner/contact_bg.png);
}

/*=================== contact banner start ====================*/

.contact_anipat {
  background-position: center center;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 160px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.contact_anipat .contact_text .section_title h3 {
  color: #fff;
}

.contact_anipat .contact_text .section_title p {
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.contact_anipat .contact_text .contact_btn p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 20px;
}

.contact_anipat .contact_text .contact_btn p a {
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
}

.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #222222;
}

.contact-info .media-body p {
  color: #8a8a8a;
}

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-contact label {
  font-size: 14px;
}

.form-contact .form-group {
  margin-bottom: 30px;
}

.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

/*=================== contact form end ====================*/
